[2018-03-20 09:10] AmirAsaraf opened #16 "multiselection_list.js remove not used code"

[2018-03-20 09:11] AmirAsaraf opened #17 "Fix styling refresh issue"
Might be related to material

[2018-03-20 09:12] AmirAsaraf opened #18 "Refactor scss files"
1) Remove not used code
2) Extract some values to globals

[2018-03-20 09:13] AmirAsaraf opened #19 "Check that consumers can use our component using NPM"
1) Check if it renders correctly and if something is missing

[2018-03-20 09:14] AmirAsaraf opened #20 "Write unit testing to the component"

[2018-03-20 09:15] AmirAsaraf opened #21 "Create story for large amount of data"

[2018-03-20 09:15] AmirAsaraf opened #22 "Fix selection bugs"

[2018-03-20 13:48] AmirAsaraf commented on #21
done

[2018-03-20 13:48] #21 closed

[2018-03-20 13:48] #22 closed

[2018-03-20 13:48] #17 closed

[2018-03-20 14:03] liorheber commented on #19
Checked

[2018-03-20 14:04] #19 closed

[2018-03-21 07:29] #18 closed

[2018-03-21 07:29] AmirAsaraf opened #33 "Fix bugs with selection"

[2018-03-21 09:21] #16 closed

[2018-03-21 13:05] #33 closed

[2018-03-22 05:02] liorheber opened #46 "Production bundle is missing a few areas"
When using the component in production some parts of it are missing:
1. Select all is missing
2. selection text is undefined undefined
3. clear all is missing
4. placement is a bit off

![image](https://user-images.githubusercontent.com/4344533/37752123-ea54a9e8-2d9e-11e8-82ea-4b427e16788d.png)

[2018-03-22 05:03] liorheber commented on #46
@AmirAsaraf could you please take a look at this?

[2018-03-22 08:04] liorheber opened #47 "Select all label doesn't trigger click"
When clicking on the actual select all label, nothing is selected.
Clicking in the area of the component or on the checkbox does.

[2018-03-22 08:16] AmirAsaraf commented on #46
@liorheber on it

[2018-03-22 08:41] liorheber opened #49 "Select all hover state is inconsistent with the rest of the items"
The hover colour of select all is grey while it's blue for the items.
Grey is the selected state colour.

We should align select all with the items.

[2018-03-22 12:30] AmirAsaraf opened #50 "OnChange() triggers on start"

[2018-03-23 01:26] #46 closed

[2018-03-23 11:34] #49 closed

[2018-03-23 11:34] #47 closed

[2018-03-23 11:35] #20 closed

[2018-03-23 12:48] liorheber commented on #50
Was solved in refactor

[2018-03-23 12:48] #50 closed

[2018-03-23 12:49] liorheber opened #55 "Support multi selection with shift key"
When using the shift key we should enable the user to select multiple entities

[2018-03-24 03:51] liorheber opened #56 "Select item performance"
Currently when selecting a single item, in order for us to keep the items order, we go over the items array and filter those in the selectedItems + the new id.
This will have bad performance with large data as for each item in items we scan selected items.

Need to find a better solution.

Reference:
multi_select_state.js at the selectItem method.

[2018-03-24 03:52] liorheber opened #57 "Add code coverage report"
Need to add code coverage support for this project and display it in the README.md

[2018-03-24 03:55] liorheber opened #58 "Improve the custom renderers Storybook"
Currently the custom renderers story at Storybook doesn't look too great.
Need to write better custom components to make the story look better

[2018-03-24 04:00] liorheber opened #59 "Support maximum selected items"
Add a feature to support a maximum of items to select.
Currently, the user may select all the items in the list.
We would like to define a limitation by setting a maxSelectedItems props which will disable any additional selections once you hit the limit.

[2018-03-24 08:46] liorheber opened #60 "Select all should conform to the filter."
## Expected Behavior
Select all should effect only the filtered items, already selected items should be kept selected.

## Actual Behavior
When selecting a few items and filtering to items that are not selected, select all will clear the previous selection.

## Steps to Reproduce the Problem

  1. In the default story in Storybook, select item 1 and item 2
  2. Filter to the value "0"
  3. Click s

[2018-03-24 08:50] liorheber opened #61 "X icon is not aligned correctly"
## Expected Behavior
X icon in the selected items should be aligned to the clear all test.

## Actual Behavior
![image](https://user-images.githubusercontent.com/4344533/37862152-68cda796-2f59-11e8-9f60-65b8fadd5a14.png)

## Steps to Reproduce the Problem

  1. Select an item.

## Specifications

  - Version: 1.0.36

[2018-03-24 10:15] liorheber opened #62 "Support item grouping"
## Expected Behavior
We would like to add  support for item grouping
![image](https://user-images.githubusercontent.com/4344533/37862870-50edacd2-2f65-11e8-8bb8-a23fc7bd5812.png)

## Actual Behavior
Items are not grouped

[2018-03-24 15:14] ganes1410 commented on #61
i will take this up @liorheber

[2018-03-24 17:15] #61 closed

[2018-03-24 18:12] #59 closed

[2018-03-24 22:36] #58 closed

[2018-03-26 06:21] liorheber opened #67 "Add keywords to npm package"
## Expected Behavior
package.json should contain keywords to make the package searchable

## Actual Behavior
Currently no keywords are provided

[2018-03-26 08:04] #67 closed

[2018-03-27 17:24] liorheber opened #69 "Add prettier pre-commit hooks"
## Expected Behavior
Code should pass prettier automatically before commit

## Actual Behavior
Prettier needs to be run manually

[2018-03-27 17:50] sumanth234 opened #71 "Not able to remove Selected list table"
## Expected Behavior

Is there any option to remove selected list table.

## Actual Behavior

We are able to remove Search and selected all option, but not selected list table.

[2018-03-27 17:56] #69 closed

[2018-03-27 18:43] #57 closed

[2018-03-27 18:52] liorheber commented on #71
We could add the feature but could please you explain the use-case?

[2018-03-27 18:57] liorheber commented on #71
Like this?
![image](https://user-images.githubusercontent.com/4344533/37988514-c6ecc994-3209-11e8-8b89-0702e506e755.png)

[2018-03-28 06:21] liorheber commented on #55
Sovled https://github.com/kenshoo/react-multi-select/pull/65

[2018-03-28 06:21] #55 closed

[2018-03-28 07:02] AmirAsaraf commented on #71
It's quite simple to add support for it

[2018-03-28 09:00] liorheber commented on #71
Do you want to take it @AmirAsaraf ?

[2018-03-28 10:30] AmirAsaraf commented on #71
Yup

[2018-03-28 11:18] liorheber commented on #71
@sumanth234 amir added your feature request under the prop showSelectedItems

[2018-03-28 11:19] #71 closed

[2018-03-28 11:55] #60 closed

[2018-03-28 13:29] liorheber commented on #56
Select All fix solved this issue as well.

[2018-03-28 13:29] #56 closed

[2018-03-29 11:47] liorheber opened #79 "Support data from server"
## Expected Behavior
- Filter should fetch new data from the server
- Should have paging support

## Actual Behaviour
Component expects to receive the complete data set.

[2018-04-02 19:20] liorheber commented on #79
This should use - https://github.com/bvaughn/react-virtualized/blob/master/docs/InfiniteLoader.md

[2018-04-08 09:38] AmirAsaraf opened #80 "Changing items state doesn't reflect in the selection"
## Expected Behavior
Changing items state will be reflected in the selection

## Actual Behavior
Changing items state doesn't reflect in the selection

## Steps to Reproduce the Problem

  1. Checkout this branch : https://github.com/kenshoo/react-multi-select/tree/state_bugs
  2. Go to storybook -> reproduce bugs
  3. Click on the set 10 items. This state should set the items count to 10

## Spec

[2018-04-08 09:39] AmirAsaraf opened #81 "Changing checkboxes state will be reflected in the selection"
## Expected Behavior
Changing checkboxes state will be reflected in the selection

## Actual Behavior
Changing checkboxes state doesn't reflect in the selection.
The item is checked but the checkbox is still empty.

## Steps to Reproduce the Problem

  1. Checkout this branch : https://github.com/kenshoo/react-multi-select/tree/state_bugs
  2. Go to storybook -> reproduce bugs
  3. Click on the 'S

[2018-04-09 21:09] #81 closed

[2018-04-09 21:09] #80 closed

[2018-04-25 06:40] michalsabag opened #83 "The X icon doesn't remain when the text is too long"
## Expected Behavior
The X icon in selected items will remain even if the text is too long

## Actual Behavior
The X icon doesn't remain when the text is too long

## Steps to Reproduce the Problem

  1. put long string in the item label
  2. move it to selected list
  3. check if X icon exist

[2018-04-25 11:31] liorheber commented on #83
How are we planning to solve this? overflow: ellipsis?

[2018-04-25 13:38] AmirAsaraf commented on #83
When elipsis is applied we should also show tooltip

[2018-04-26 10:59] AmirAsaraf commented on #83
I'm working on elipsis with tooltip. Currently we are doing it on the itemRenderer in creation flow. I can do it if it will be relevant
![image](https://user-images.githubusercontent.com/12827272/39302037-f4edf87e-4959-11e8-88af-a18f3e120933.png)

[2018-04-26 11:00] liorheber commented on #83
Thanks, @michalsabag already issued a PR for this:
https://github.com/kenshoo/react-multi-select/pull/84

[2018-04-26 11:00] AmirAsaraf commented on #83
Sure

[2018-04-26 11:26] #83 closed

[2018-04-30 08:29] essamor opened #86 "missing tooltip on the disabled items"
## Expected Behavior
a tooltip should appears when an item is disabled that describes the reason why it been disabled

## Actual Behavior
No tooltip appears when an item is disabled

## Steps to Reproduce the Problem

  1. define maxSelectedItems , for example : 1
  2. select the maximum items
  3. hover the mouse over the disabled items

## Specifications

  - Version: 1.0.49

[2018-04-30 09:51] #86 closed

[2018-04-30 10:00] liorheber commented on #79
@essamor could you document your solution as an example for this?

[2018-04-30 11:05] essamor opened #88 "update readme - server side search sample"
## Expected Behavior
readme should contains server side search sample

## Actual Behavior
readme doesn't contain server side search sample

## Specifications

  - Version: 1.0.49

[2018-05-01 04:38] #88 closed

[2018-05-01 04:38] #79 closed

[2018-05-01 04:38] liorheber commented on #79
Solution provided - https://github.com/kenshoo/react-multi-select/pull/89

[2018-05-08 13:10] liorheber opened #90 "Decouple selectAll height and itemHeight"
## Expected Behavior
Have the ability to define the height of the select all component.
Keep backwards compatibility by setting the selectAll height to the itemHeight by default.

## Actual Behavior
Setting itemHeight will also effect the height of the select all component

## Steps to Reproduce the Problem

  1. set itemHeight props

[2018-05-08 15:48] #90 closed

[2018-05-25 06:56] liorheber opened #93 "Use stable version of material-ui for placeholder components"
## Expected Behavior
Placeholder components should use a stable version of material-ui

## Actual Behavior
Currently using material-ui@1.0.0-beta.25

[2018-05-25 07:12] #93 closed

[2018-06-04 12:58] essamor opened #96 "selected item is removed when it 's being filtered from the available items"
## Expected Behavior
selected item should not be removed if it doesn't  exist in the filtered available items

## Actual Behavior
selected item is removed

## Steps to Reproduce the Problem

  1. select an item
  2. filter the item from the available items  by providing the list with new items
  3. now select another item
  4. please notice that the first selected item was removed

## Specificatio

[2018-06-07 06:49] essamor opened #98 "selected item is removed when it 's being filtered from the available items and later click the select all"
## Expected Behavior
selected item should not be removed if it doesn't exist in the filtered available items

## Actual Behavior
selected item is removed

## Steps to Reproduce the Problem

  1.select an item
  2.filter the item from the available items by providing the list with new items
  3. now select another item
  4. click the select all
  5. please notice that the first selected item was re

[2018-06-11 04:13] #98 closed

[2018-06-13 12:20] oriarditi opened #100 "Ordering of selected items"
Given any thought of ordering the selected items? Something like hamburgers to reorder selected items

[2018-06-13 12:36] liorheber commented on #100
Do you mean to have the ability to drag items inside the list or do you mean to have some sort of sort function?

[2018-06-13 12:37] oriarditi commented on #100
draggable items could be awesome!

[2018-06-13 12:40] liorheber commented on #100
Sounds interesting.
It means that we will need to store the order somewhere because unfortunately the selectedItems list is recreated every time.
I'll look into it.

[2018-09-20 14:36] oxsav opened #102 "Change the height with percentage values."
I'm trying to change the height of the area that is scrollable. In my case what fits for me is to pass a % value, is that possible? Could that be done? Or should be better to the component accept a style prop and pass the style inside the component.

The wrapperClassName prop does not work, because to change the height, with that prop, I have to use the _!important_ tag in CSS and even though only

[2018-09-26 12:09] asher-scott opened #103 "Using MutliSelect in a custom component library and importing it in another project causes an export error"
I'm currently creating a custom component library that contains a component that uses the MultiSelect component.  In my component library I have an example react project that I use to test the components I write.  When I use the custom component in the example project, it works properly.  Once I am done testing the components in the example, I bundle the library using rollup.js and publish the lib

[2018-09-26 17:58] PeterShershov commented on #103
Hey @asher-scott, when publishing, are you making sure that `react` and `react-dom` are externals (not included in the bundle)?
We do the same with Webpack: https://github.com/kenshoo/react-multi-select/blob/master/config/webpack/webpack.common.js#L8

That could be a possible reason.
In addition, make sure that `react` and `react-dom` are set as a peer dependency (not dependencies) in your `packag

[2018-09-26 18:02] PeterShershov commented on #102
Hey, looking into this.
Thanks for reporting :+1:

[2018-09-26 19:20] asher-scott commented on #103
@PeterShershov Thanks for the fast response, I appreciate it greatly!  I was missing `react-dom` in my peer dependencies, so I added that, and then I added `react` and `react-dom` to my externals in my rollup.config.js.  I'm not sure how closely related the build processes of Rollup and Webpack are to one another, but I published the bundle and the same errors remain.

This is my rollup.config.js

[2018-09-26 19:49] PeterShershov commented on #103
Any example that reproduces the issue would be very useful.

I noticed you're using Typecript.
Can you also share your tsconfig (is esModuleInterop turned on)?

[2018-09-26 19:51] asher-scott commented on #103
Here is my current tsconfig:
[code]
esModuleInterop is not turned on.... I'll give it a shot

[2018-09-26 20:04] asher-scott commented on #103
esModuleInterop didn't seem to help.  I'll try to create a slim example of the issue and report back with more details.  I might even find my problem in doing so.

[2018-09-26 20:08] PeterShershov commented on #103
Great, waiting to hear from you

[2018-09-27 01:36] asher-scott commented on #103
@PeterShershov I wrote up a very small component library example that mimics my development environment and build process.  You can see that code here: https://github.com/asher-scott/test-multi-select

If you want to reproduce the error that I am getting, you can do an `npm publish` on the project and publish it to an npm registry (I used MyGet).  If you then `npm install` the package that you pub

[2018-09-27 14:53] PeterShershov commented on #103
@asher-scott Thanks! I'll take a look

[2018-09-27 17:11] asher-scott commented on #103
Awesome thank you!

[2018-10-11 07:10] eran7789 opened #104 "Need to control the search value"
## Expected Behavior
If i can render a custom search component i would sometimes like to also control the value of the search input, for example if i want to clear it.

## Actual Behavior
No value prop is passed to the search input renderer and no call to a prop is made when search value is changed unless you pass a filterFunction.

[2018-10-13 14:14] tnrich opened #107 "I ported this to use blueprintjs"
In case anyone is interested, I ported this component to use blueprintjs  (https://github.com/palantir/blueprint)

A demo can be seen here:
https://teselagen.github.io/teselagen-react-components/#/MultiSelectSideBySide

https://github.com/TeselaGen/teselagen-react-components

You can close this whenever you want @kenshoo . Thanks for making this great component.

[2018-10-18 08:16] eran7789 commented on #104
The search value is filtering the items correctly since we do not respond well to changes. Should add a componentWillRecieveProps lifecycle method to handle this.

[2018-10-25 08:19] Cozloschi opened #109 "Build version not compatible with Material UI"
## Expected Behavior
Hello, I am using your multi select component in a project which uses Material UI. On the development server everything looks like expected:
<img width="1362" alt="screen shot 2018-10-25 at 11 14 10" src="https://user-images.githubusercontent.com/8299041/47485645-351a6500-d847-11e8-8413-870cdaf5bd00.png">
When I am using production build, everything looks the same except the c

[2018-10-25 10:00] talyak commented on #109
I am checking it, can u please add code example how do you try to use it?

[2018-10-25 11:38] Cozloschi commented on #109
Thank you for your reply.
Here's an example of my render function:

[code]
I've seen that your project uses Material UI also, and from what I've read there might be css conflicts if there's two instances of material UI on the same project.
https://github.com/marmelab/react-admin/issues/1782

I will try using Material UI as a peer dependency.

[2018-10-25 11:50] talyak commented on #109
update me please.

[2018-10-25 11:58] Cozloschi commented on #109
Using Material Ui as a peer dependency didn't work.
But wrapping my entire project in a JssProvider component did the trick.
https://github.com/marmelab/react-admin/issues/1782#issuecomment-418633547

[code]

I think that we should consider wrapping your project in a JssProvider, maybe this way won't be any conflicts in the future with other projects using Material UI.

[2018-10-29 15:24] AntonOellerer opened #111 "Changing item label"
Hey,
While working with this library, I encountered a problem I have when feeding the component with data from a server. As far as I can tell, right now it is not possible to change the name of the label key via custom properties, which means one has to iterate through all the data to rename the label key. Because of this here my two questions:

* Is it currently possible to change the name of the

[2018-10-29 15:42] uikenshoo commented on #111
Hi @AntonOellerer thank you very much for using our component.
react-multi-select allows you to customize the data structure as you please by allowing you to override the ItemRenderer and the filterFunction.
You can go over the readme file to read on their interface but basically the ItemRendeder currently uses the label for the display and the filterFunction to filter based on the label.
You coul

[2018-10-29 15:44] uikenshoo commented on #109
Thank you @Cozloschi for bringing this to our attention.
We hope to release a new version soon that will ensure that material ui is a proper peer dependency and will use whatever version you've provided in your application.

You are also more then welcomed to provide a solution beforehand, any contribution would be greatly appreciated.

[2018-10-29 15:46] uikenshoo commented on #107
@tnrich it is very exciting to see our component being used out there.
We hope that we will be able to provide additional components in the near future and would be excited to see you contribute to the project in the future.

Thanks again for sharing this with us!

[2018-10-29 15:46] #104 closed

[2018-10-31 07:41] PeterShershov commented on #103
Hey, sorry for not updating you about this.
We will hopefully address this issue around November 11th.

@asher-scott

[2018-10-31 07:41] PeterShershov commented on #102
Hey,
We will hopefully address this issue around November 11th.

@oxsav

[2018-10-31 12:15] asher-scott commented on #103
@PeterShershov Not a problem, I understand!  I appreciate you letting me know!

[2018-11-08 12:34] asher-scott commented on #103
@PeterShershov I may have figured out why I was running into the error that I reported.  It appears that I needed to declare your multi select component as an external library in my rollup.config.js file.

From what I can see so far, everything is working fine after making the proper modification to my rollup configuration:

[code]

[2018-11-15 12:53] omerkenshoo commented on #102
Hi @oxsav,

There is a property ``height`` to the component that can receive a string with percentage
I will add a story with an example soon

[2018-11-15 13:47] omerkenshoo commented on #102
Right, using percetnage ``height`` property will not work because there are calculations inside the component

Looking into it

[2018-11-15 15:36] omerkenshoo commented on #102
Added a new prop: ``responsiveHeight``
https://github.com/kenshoo/react-multi-select/pull/112

[2018-11-21 03:14] #107 closed

[2018-11-21 03:16] #111 closed

[2018-12-02 13:57] #102 closed

[2018-12-07 12:36] #62 closed

[2018-12-07 14:18] liorheber commented on #103
@asher-scott I hope everything os working fine for you.
I'm closing this issue for now, please feel free to reopen it if you require any more assistance.

[2018-12-07 14:18] #103 closed

[2018-12-07 14:52] liorheber opened #114 "Update preview image"
## Expected Behavior
Preview image should be of the latest component

## Actual Behavior
Preview image is of the old component

[2018-12-07 15:04] #114 closed

[2018-12-10 21:33] peterlindstrom opened #116 "Throws warning"
I see a warning thrown when using this component. It can be fixed upgrading prop-types to at least 15.5.10

## Actual Behavior
checkPropTypes.js?a15c:19 Warning: Failed prop type: Calling PropTypes validators directly is not supported by the `prop-types` package. Use PropTypes.checkPropTypes() to call them. Read more at http://fb.me/use-check-prop-types

## More info
https://github.com/malte-wesse

[2018-12-10 21:38] liorheber commented on #116
Thanks @peterlindstrom ,
Could you please share the full warning you're receiving (with stack trace)?
I'm looking at our demo site and I was unable to see any warning besides some Storybook build warnings.
[Demo](https://kenshoo.github.io/react-multi-select/)

[2018-12-13 12:05] orShapira commented on #109
Same issue here! would love to have a fix soon 👍

[2018-12-13 16:22] liorheber commented on #109
Sorry about the delay in handling this.
I think we can commit to fixing this next week.

[2018-12-13 20:08] sabativi commented on #100
Hey,

I think this can be done quite easily if the lib can also export defaults components used
[Sortable](https://github.com/SortableJS/Sortable) is easy to setup, as just need to:

-  add `<div className="sortable-list">` on top of the actual destination list.
- and use HOC `sortable` on selectedItemRenderer.

Maybe this is the best way to do it ?

[2018-12-14 17:12] liorheber commented on #100
Hey @sabativi, thank you for looking into this.

Would you like to give this feature a go and try and issue a PR for it?

[2018-12-17 08:24] sabativi opened #118 "Cannot run it locally"
## Expected Behavior

Modify source code to propose new version

## Actual Behavior

[code]

## Steps to Reproduce the Problem

  1. git clone
  1. npm install
  1. npm run storybook

## Specifications

  - Version: node 10.14.1
  - Platform: MacOS 10.13

[2018-12-17 09:53] isabolic commented on #116
Warning: Failed prop type: Calling PropTypes validators directly is not supported by the `prop-types` package. Use PropTypes.checkPropTypes() to call them. Read more at http://fb.me/use-check-prop-types
    in t (created by n)
    in n (created by Shuttle)
    in Shuttle (created by GroupForm)
    in div (created by GroupForm)
    in GroupForm (created by Connect(GroupForm))
    in Connect(GroupFo

[2018-12-17 12:09] liorheber commented on #118
@sabativi react-multi-select uses yarn.lock which means you need to use yarn to ensure that you are using the correct dependencies.
Could you please try installing the dependencies with yarn?
I will look into adding a package.lock to the project to support both.

[2018-12-17 12:24] liorheber commented on #116
I am unable to reproduce your issue in any environment.
We will upgrade prop-types in hopes that it assists you as it contains no risks to the package - later today.

Please let us know if this solves the issue or if we need to further investigate this.
If this reoccurs, could you please supply us with a reproducible example?

[2018-12-17 14:12] liorheber commented on #116
Latest prop-types was merged, please let us know if this indeed solved the issue.

[2018-12-18 06:48] isabolic commented on #116
Hi @liorheber ,

The issue is still present with the same message.

Best regards
isabolic

[2018-12-18 12:37] talyak commented on #116
@isabolic - Can you share with me reproducible code so I can see the issue and try to fix it accordingly?

[2018-12-18 12:40] talyak commented on #118
@sabativi - Has the problem worked out for you? can I close this issue?

[2018-12-18 12:41] isabolic commented on #116
[code]

[2018-12-18 18:48] sabativi commented on #118
Yes

[2018-12-18 20:48] engineer-only opened #120 "Prop Type - Prop Validators Error"
I use this module in order to create a multi selectable box which is populated by user's contacts. When contacts are selected, new chat group with the selected ones is created and so on.

However when I only just install the package following the steps in the

[Official Page](https://www.npmjs.com/package/@kenshooui/react-multi-select)

and insert the component as following (same with the demo)

[

[2018-12-19 07:48] #118 closed

[2018-12-19 09:38] talyak commented on #120
@engineer-only - which version of react do you use?

[2018-12-19 13:00] #120 closed

[2018-12-24 20:18] Cozloschi opened #122 "Keycode onChange"
Hello,
I would like to cancel the real time filtering and to be able to listen to 'Enter' keyCode in onChange event, in order to do a backend filtering. I tried creating my own search component and to pass it to searchRenderer component, but I've ended up doing all sorts of hacks to be able to get the keyCode ( E.g: onKeyPress={event => {event.target.value = event.key; return props.onChange(event)

[2019-01-02 12:53] liorheber commented on #122
Hello,
Please refer to https://github.com/kenshoo/react-multi-select#search-function and see if this provides the solution you need.

[2019-01-08 10:07] jaspreet963 opened #125 "Should be a way to pass onClick function to itemRenderer instead of making whole item clickable ?"
## Expected Behavior
By default, whole item is clickable and click further toggles the selection/checkbox. Same behaviour can be observed for custom item (via itemRenderer).

## Actual Behavior
There should be a way to pass onClick method to props as well. One might want to toggle selection only on checkbox click or on particular div/element.

## Steps to Reproduce the Problem
  1. Add custom item

[2019-01-08 18:16] liorheber commented on #125
Hi @jaspreet963 ,
The item interface contains the onClick method.
This should mean that something along this line should work:
[code]
If this is what you're doing and you're still triggering the onClick event from the dropdown, could you please share an example?

[2019-01-10 09:00] orShapira commented on #109
is there any news with this issue? I'm literally unable to use this component.
and it was a really good one before!

[2019-01-22 07:48] Zidanela commented on #109
any updated?

[2019-01-22 07:49] Zidanela commented on #109
we've been waiting for the bug fix :(.

[2019-01-22 11:58] liorheber commented on #109
Hi, hopefully this PR will provide the fix.
https://github.com/kenshoo/react-multi-select/pull/126
Should be merged today.

[2019-01-22 13:10] liorheber commented on #109
Please give v1.0.67 and let us know how it goes.

Thanks!

[2019-01-23 13:31] Cozloschi commented on #122
That was the answer! Thank you for that.

[2019-01-23 13:31] #122 closed

[2019-01-23 13:43] liorheber commented on #125
Hi,

Closing this, please feel free to re-open if you need more assistance.

[2019-01-23 13:43] #125 closed

[2019-01-24 18:55] jorgemmsilva opened #127 "Checkbox/X icon bad height when itemHeight is used. (and some misc feedback)"
First of all, thanks for the work on this library - the component is quite cool.

## Expected Behavior
Checkboxes and "remove icons" should resize according to `itemHeight` prop.

## Actual Behavior

<img width="55" alt="screenshot 2019-01-24 at 18 03 03" src="https://user-images.githubusercontent.com/1187222/51701295-132cac00-2009-11e9-9358-fc29ecd71aed.png">

<img width="73" alt="screenshot 2019

[2019-01-28 06:33] orShapira commented on #109
Hi, this issue is still going
1. it damaged other material-ui components behavior - such as Dialog and more...
2. it's behavior and look itself are not as good as the development environment

[2019-01-28 16:44] liorheber commented on #109
@orShapira what material ui version are you using?

[2019-02-05 16:03] orShapira commented on #109
@liorheber
my stable production work with @material-ui/core:3.1.2
but I also upgraded the staging environment to @material-ui/core:3.9.2  and it also didn't work

[2019-02-05 16:11] liorheber commented on #109
Well the dependency for our component is currently material-ui/core@1.0.0 so there's a good chance this is the cause.
@yegor-babiy is planning on looking into this this coming week and there's a good chance we'll update the dependency if that proves to be the root cause.
We will update as soon as possible but you are also welcomed to give it a try.

[2019-02-10 06:36] SoorajSethumadhavan commented on #116
<img width="1232" alt="screenshot 2019-02-10 at 12 01 24 pm" src="https://user-images.githubusercontent.com/11325941/52530447-e7f5cc80-2d2b-11e9-9bed-7147a5361f46.png">

I'm a noobie in react!
this is what I have in my package.json
"react": "^16.8.1",
"react-dom": "^16.8.1",

"react-redux": "^6.0.0",
 "redux": "^4.0.1",

[2019-02-12 02:58] puneet24 opened #131 "I wan to put border outside all the items, which should not include search bar. Is there any way to do it?"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2019-02-12 17:15] yegor-babiy commented on #109
@orShapira could you please supply a live code example,
 because we still can't reproduce issue on our end.

[2019-02-14 11:52] liorheber commented on #131
Hi @puneet24
I'm not sure I fully understood your question. Could you please further explain?

If you're trying to remove the SearchBar you have the showSearch prop which you can pass false to.

[2019-02-15 11:30] samuelrego commented on #109
Hi, I am using material ui 3.9.2 version. but multi-select library uses 1.0 version. it's giving me a lot of errors. is there any solution for this??

[2019-02-15 14:29] yegor-babiy commented on #109
@samuelrego thanks for feedback,
could you please provide more details, which errors you got, that we had ability to reproduce such issue.

[2019-03-04 14:22] puneet24 commented on #131
I want to render all the items in a container having some border. Is it possible with this library?

[2019-03-11 13:19] BaptWaels commented on #116
Hi,

Any update on this issue ?
I'm experiencing the same behaviour.

[2019-03-11 13:22] liorheber commented on #116
Hi @BaptWaels,
We investigated the issue and it seems related to react-height.
It's currently low on our priorities because it's only a warning and doesn't break the component.
I hope we can get to it as soon as possible but I also encourage trying to issue a fix to this if you have the capacity for it.

[2019-03-28 18:33] asmithriscnetworks commented on #116
Looked into the issue a little. A PR was approved which supposedly fixed the issue. On April 17th 2018 and a tag was pushed, `3.0.0`.  https://github.com/nkbt/react-height/pull/37

The npm page says the package has not been updated for 2 years but the release tag is listed the releases.

Not sure wha'ts going on, but this package has the correctly `react-height` version (3.0.0), and a version of p

[2019-04-03 12:29] BaptWaels commented on #109
We've tried with `v1.0.71` using `material-ui`, we're still having the issue

[2019-04-10 11:53] Ektoplasme commented on #116
The package has the correct react-height version but in this 3.0.0 in my package-lock.json, prop-types version is still 15.5.8 or it should be 15.5.10 to fix the issue

"react-height": {
      "version": "3.0.0",
      "resolved": "https://registry.npmjs.org/react-height/-/react-height-3.0.0.tgz",
      "integrity": "sha1-+uMi+dpk0+niVTbya3fHOVQmFSQ=",
      "requires": {
        "prop-types": "15

[2019-04-11 12:36] BaptWaels commented on #116
I've created an issue on `react-height` to create a new release :
[#38](https://github.com/nkbt/react-height/issues/38)

[2019-04-15 18:44] liorheber commented on #116
Thank you @BaptWaels !

[2019-04-16 05:39] talyak commented on #131
@puneet24 - you can use the listRenderer prop to set (border) styling for the items container. if you want to include the select all inside this border use also SelectAllRenderer prop.
You can see example how to use it in the "Carousel Multi Select" section of the storybook.

[2019-04-26 16:12] stepovat opened #142 "Semantic release doesn't generate right new version for breaking changes"
## Expected Behavior
When merging PR with title "BREAKING CHANGE:", new version should be generated.
for example, when current release is v1.0.72 - after merging breaking changes  new version should be v2.0.0

## Actual Behavior
v1.0.73 is generated, please see the actual example:
https://github.com/kenshoo/react-multi-select/compare/v1.0.72...v1.0.73

## Steps to Reproduce the Problem

  1. Creat

[2019-04-27 01:10] SEUH opened #143 "List doesn't get rendered when items are loaded async and select component is hidden"
I load the items for the multi select component asynchonously and the component is hidden at render time.

## Expected Behavior
Items render normally

## Actual Behavior
Items don't render

## Steps to Reproduce the Problem
Just set the items variable asynchonously and set display none of component
Here's a reproduction setup (i use bootstrap tab for simplicity, but it should be equivalent to the

[2019-04-27 04:04] liorheber commented on #143
Thanks @SEUH !
@stepovat if this is indeed a case (I did not have a look), caused by react-height, I think it's time to replace that package.
It hasn't been supported for a while, it's been giving us other issues and we can produce it's feature in other means.

[2019-05-01 11:20] yegor-babiy commented on #143
hey,
I replaced approach with react-height, works perfect, please take a look ( @liorheber @stepovat )
@SEUH Thanks for deep investigation!

[2019-05-02 01:07] liorheber commented on #116
https://github.com/kenshoo/react-multi-select/pull/145 should solve the issue as we removed react-height dependency from the component.

[2019-05-06 06:10] GGantulga opened #146 "preselected example code"
1. Where can I find preselected example code?
2. Also Is it possible to make all items selected when component loaded

[2019-05-06 07:02] #146 closed

[2019-05-07 23:19] SouroucheB opened #147 "How to make "selectedItemRenderer" not removable"
Hello there,

Here is my code :
[code]
And :
[code]

And my question : By doing this, the selected item on the right column remains removable while it is exactly the behavior i'm trying to avoid. While digging a little, it seems that it is the container that triggers the action of suppression.

Could someone help me please to understand what I'm missing here ?

Thanks.

[2019-05-08 08:04] stepovat commented on #147
hi @SouroucheB,
you are right, the container handles item removal

We are actually right now working on feature to support locked items on a right side, in case if they are passed with field "disabled: true" in the list of selectedItems property.

Do you think it will fit your goals?
If not, could you please provide more details of what you are planning to have?

Thanks

[2019-05-09 10:25] SouroucheB commented on #147
Hi @stepovat, thanks for your reponse,
It will indeed fit one of my goal  because right now, when I put something disabled in the left column, it still also remains clickable, which is seems to be an unexpected behavior, I guess.

But I feel like my final goal is a little like this one. I would love to have the ability to replace all the targeted element with the "renderers" you provide like `item

[2019-05-09 13:44] stepovat commented on #147
@SouroucheB
1. Regarding what you said about putting disabled in left column and it is still clickable - that doesn't sound good, could you please provide an example of your code with inputs?
Just in case, we have a working example of disabled items in left list [here](https://kenshoo.github.io/react-multi-select/?knob-Show%20search=true&knob-Show%20select%20all=true&knob-Height%20%25=50&selectedK

[2019-05-12 12:47] stepovat commented on #143
Hi @SEUH, we have merged the solution, it is included into v1.1.1 release.
Please tell if it is ok now,
Thanks

[2019-05-13 08:46] talyak commented on #131
@puneet24 - any updates? did it help you? can I close this issue?

[2019-05-13 09:29] talyak commented on #116
resolved

[2019-05-13 09:29] #116 closed

[2019-05-14 14:13] SEUH commented on #143
This doesn't seem to be fixed. Have a look at the updated reproduction setup (now with v1.1.1) https://codesandbox.io/s/r5q843yjq

[2019-05-14 16:14] yegor-babiy commented on #143
@SEUH Could you please tell if it reproduces for you not in the scope of codesandbox?

[2019-05-16 09:28] MaksimDrobchak opened #149 "It is possible to select more than maxSelectedItems when using Shift"
## Expected Behavior
We should not be able to select more items than maxSelectedItems when this value is present

## Actual Behavior
It is possible to select more items than allowed by using Shift key.
For example, here is the video with reproduction in story with maxSelectedItems 4:
 [link with video](https://files.slack.com/files-pri/T0HTGRLKD-FJ3T9B5SP/storybook_.webm)

## Steps to Reproduce th

[2019-05-16 13:56] luisccf opened #150 "Messages prop is not working"
## Expected Behavior
Messages prop should be used to render the right messages

## Actual Behavior
Only `searchPlaceholder` message works

## Steps to Reproduce the Problem

  1. Pass messages prop to MultiSelect component

## Specifications

  - Version: 1.1.1
  - Platform: macOS

Here is my (simplified) code:
[code]
<img width="1082" alt="Captura de Tela 2019-05-16 às 10 55 57" src="https://use

[2019-05-16 14:45] stepovat commented on #150
hi @luisccf , thanks for reaching this out to us!
@MaksimDrobchak is on it, we will provide fix today

[2019-05-16 17:52] #150 closed

[2019-05-16 17:56] stepovat commented on #150
@luisccf the issue is now corrected in v1.1.2
thanks for participation

[2019-05-18 12:08] SEUH commented on #143
Sorry for the late response. It still fails in my local setup

[2019-05-19 09:36] #131 closed

[2019-05-19 15:54] stepovat commented on #147
Hi @SouroucheB,
just wanted to notify, that locked items support was released in v1.1.3
Please tell if any questions appear,
Thanks

[2019-05-20 13:55] AntonOellerer opened #152 "Versions after 1.0.68 make MultiSelect unusable"
## Expected Behavior
When updating from react-multi-select 1.0.68 to 1.0.69, there should not be any big changes

![Captura de pantalla de 2019-05-20 15-55-30](https://user-images.githubusercontent.com/13524304/58026855-b739e600-7b17-11e9-9af1-867b378eb04b.png)

## Actual Behavior
The `MultiSelect` component does not render correctly and overlays buttons under it (on the y-axis)

![Captura de pant

[2019-05-20 15:31] MaksimDrobchak commented on #152
Hi! Sorry but after version 1.0.68 you need `import "@kenshooui/react-multi-select/dist/style.css"`
for supporting native style multi-column-select (it was specified in readme  earlier).

[2019-05-21 14:38] MaksimDrobchak commented on #143
Sorry, but this problem is not react-multi-select. If you use https://react-bootstrap.github.io/components/tabs/#tab-props. You need mountOnEnter = {true} in the second tab.
In documentation react-bootstrap, describes in more detail why this happens.
`  <Tab
          eventKey="categories"
          title={"was not visible at render time"}
          mountOnEnter={true}

[2019-05-23 12:45] #152 closed

[2019-05-24 12:35] SEUH commented on #143
@MaksimDrobchak The problem is with react-multi-select. I adjusted the reproduction setup to make it clearer https://codesandbox.io/s/affectionate-worker-6wt8r

This should be self-explanatory: The component is rendered & mounted but with "display: none" the component is not visible and has no height in the dom. If you take a closer look not only the items are not rendered but also the container f

[2019-05-31 08:21] tynarbekov opened #153 "Integrate with react + typescipt"
I have a project react+typescript.
As I right understood, this package doesn't have typescript support.
And I create type like this.
In Component importing like this:
[code]
And declare module like this
[code]

`
And I have error like this:
Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. Yo

[2019-06-03 05:14] #153 closed

[2019-06-03 05:35] tynarbekov opened #154 "Selected items in search place"
It's is possible render selected items in 'Search' place?

[2019-06-03 14:57] stepovat commented on #154
Hi @tynarbekov,
sorry, but not sure I fully understand
can you please provide more details about the problem you have?
If you add example of your problem - it will be even better

Thanks!

[2019-06-06 10:53] omerkenshoo commented on #153
Hi @tynarbekov,
Sorry for the late reply.

It seems like your usage was wrong:
```import {MultiSelect} from '@kenshooui/react-multi-select'```

Take of the curly brackets and it should work:
```import MultiSelect from "@kenshooui/react-multi-select";```

[2019-06-12 09:15] faouzi-Lakhlifi opened #155 "A way to empty selected list after, I change items list"
Even when I pass the selectedItems prop as a state, and then empty it, it does not re-render.
I want the selectedItems to empty out when I change the itemsList after a fetch call

thanx in advance

[2019-06-12 09:21] faouzi-Lakhlifi commented on #155
the list starts out full
![items1](https://user-images.githubusercontent.com/45952740/59339173-940bec00-8cfb-11e9-9f8a-505f6afebd22.PNG)

but when I make fetch call following user's choices, I change the the itemsList
![items2](https://user-images.githubusercontent.com/45952740/59339276-c584b780-8cfb-11e9-9c79-c8a1051f41a1.PNG)

I want to reset the selecteditemeslist

[2019-06-12 21:53] dannysun2 opened #156 "selectedItems not updating based on changes from state"
## Expected Behavior
Removing names (state.options) from list via onclick results in a re-render should result in an updated selectedItems list to reflect the changes from the state.

https://github.com/dannysun2/react-multi-select

![Jun-12-2019 16-51-43](https://user-images.githubusercontent.com/9579101/59388876-8de53200-8d32-11e9-81ea-ff61ab3fd234.gif)

## Actual Behavior
While the component re

[2019-06-12 23:05] liorheber commented on #156
Hi @dannysun2
Thank you for your issue.

It seems that we've never implemented the component as a controlled component, meaning that the selectedItems is basically used for initialization at this point.
I believe it would make a lot of sense to make the component work in a controlled state and I think the solution is quite simple if I'm honest.

I can't commit on a timeline at this point for a fix

[2019-06-12 23:07] liorheber commented on #155
@faouzi-Lakhlifi thank you for your issue.
Please see the response for this here: https://github.com/kenshoo/react-multi-select/issues/156

You are also welcomed to issue a solution if our timeline doesn't work for you. We would love to have you contribute!

[2019-06-12 23:08] liorheber commented on #154
@tynarbekov I am closing the issue.
Please feel free to reopen when you are able to provide more information.

Thanks.

[2019-06-12 23:08] #154 closed

[2019-06-12 23:10] liorheber commented on #147
@SouroucheB closing this issue. Feel free to re-open if needed.
Also please note that you can always block the click event from the wrapper by stopping the event from bubbling up to the parent in your renderer.

I hope your issue is solved.

[2019-06-12 23:10] #147 closed

[2019-06-12 23:11] #142 closed

[2019-07-15 13:51] koalo opened #161 "searchValue is not displayed"
## Expected Behavior
When I set the property `searchValue` I would expect that the value appears in the search field and that the items are filtered appropriately.

## Actual Behavior
Nothing happens if this property is provided.

## Steps to Reproduce the Problem

[code]

Also see https://codesandbox.io/embed/react-multi-select-search-test-rsjks

## Related

https://github.com/kenshoo/react-multi

[2019-07-16 13:54] yegor-babiy commented on #161
@koalo thanks for your feedback,
You should use your own controlled component for it,
as example - [https://codesandbox.io/s/intelligent-ganguly-65ic2](https://codesandbox.io/s/intelligent-ganguly-65ic2)
I hope it helps you

[2019-07-22 04:06] giancarlobianchi12 commented on #109
Same problem here ! Any solution in production mode ?
I'm using
"@kenshooui/react-multi-select": "^1.1.3",
"@material-ui/core": "^3.9.3",

[2019-07-24 04:43] BaptWaels commented on #156
Controlled component feature implemented in #160

[2019-07-25 07:52] yegor-babiy commented on #156
As [fix ](https://github.com/kenshoo/react-multi-select/pull/160) was pushed , I close thread

[2019-07-25 07:52] #156 closed

[2019-08-13 22:32] cullylarson opened #164 "Search results show all items when one is selcted"
## Expected Behavior

Type something into the search box. The list items are filtered to only those containing the search text. When I select one of the items, the item is selected and the filtered list remains the same (still filtered).

## Actual Behavior

I type some text into the search box. The list items are filtered to only those containing the search text. When I select one of the items, t

[2019-08-13 22:42] cullylarson commented on #164
I refactored the controlling component to store `items` and `selectedItems` as objects and the issue went away. I'm not sure if this represents a bug or not, but hopefully it's helpful info. Let me know if you have any questions.

[2019-10-31 07:27] yonggithub opened #165 "adding the withGrouping parameter, can not work normally on IE browser"
## Expected Behavior
show the data on IE browser

## Actual Behavior
can not show data on IE browser

## Steps to Reproduce the Problem

  1.it can not show data normally on IE browser when use the withGrouping value
my code :
![image](https://user-images.githubusercontent.com/25076827/67926875-29981180-fbf2-11e9-9fc7-c5693d194bcc.png)
my items data console:
![image](https://user-images.githubuser

[2019-10-31 20:06] hooahest commented on #165
which version of IE are you using? it's working for me on Edge

[2019-11-01 02:42] yonggithub commented on #165
Thanks for your reply,I also can run it normally on Edge ，but IE. my IE version is 11,and specific version is 11.0.110;
![image](https://user-images.githubusercontent.com/25076827/67998649-49801180-fc94-11e9-979a-9fbf1b72fe73.png)

[2019-11-01 12:20] liorheber commented on #165
@yonggithub thanks for the input.
Overall we have no plan to officially support IE but I encourage you to add such support if you need it.
I didn't go into the details of the issue, but I imagine that it a configuration that needs to be set in the build process in webpack.
If you would like to pick this up we would be happy to push such a change to the component.

[2019-11-11 15:51] konstantinEnable opened #166 "responsiveHeight in Firefox does not work correctly with %"
## Expected Behavior
Should not overwrite itemHeight, height and does not as expected, in Chrome, however it does not function as expected in Firefox.

## Actual Behavior
For example responsiveHeight 16% and itemHeight 42, results in a 7px item height in Firefox.

## Steps to Reproduce the Problem
                items={items}
                selectedItems={selectedItems}
                showSelec

[2019-11-26 15:02] jeremy-vvf opened #167 "Warning: componentWillReceiveProps has been renamed"
## Expected Behavior
I don't want this warning message in the console

## Actual Behavior
![componentWillReceiveProps](https://user-images.githubusercontent.com/15016661/69645150-fd8f7500-1065-11ea-8f8c-861948d2af1a.png)

## Steps to Reproduce the Problem

  1. Just display the MultiSelect component

## Specifications

  - Version: 1.1.5
  - Platform: Ubuntu

[2019-12-09 01:59] SEUH commented on #143
Still not working with v1.1.5. Is there any update on this?

[2020-01-03 18:09] binnyFriedman commented on #143
same by me here any update?

[2020-01-03 21:47] liorheber commented on #143
Hi, I'm sorry it took us time to reply.

We are currently a bit short on maintenance capacity for the component internally.
While we do plan to fix more bugs in the future, this may take some considerable time.

Therefore, I encourage you or anyone else to contribute fixes to the component.
We would be more than happy to assist anyone who would want to contribute.

[2020-03-10 14:52] jeffwhat opened #176 "Custom itemRenderer/selectAllRenderer trigger doesn't trigger click event when label is clicked (even though checkbox checks)"
## Expected Behavior

For a custom renderer that uses labels/checkboxes, the checkbox checks when label clicked but onClick doesn't trigger, e.g.:

matchedItemRenderer(props) {

     return( <div className="multiselect-item"><label onClick={props.onClick}><input type="checkbox" />{props.item.label} </label> </div> );

    }

## Actual Behavior

onClick triggers when you click actual checkbox but d

[2020-03-10 15:23] jeffwhat commented on #176
For those who want checkboxes instead of SVGs, for consistent checkbox UI on PC as well as Mac: use CSS to hide SVG checkboxes, set opacity of checkbox to 1.  The opacity of the checkbox defaults to 0.

[2020-03-10 15:23] #176 closed, assigned to nobody

[2020-03-12 00:59] jeffwhat commented on #161
I am using a syntax similar to your example code, but it doesn't work:

[code]

The correct values get set in the state, so the searchValueChanged function works fine, but there doesn't seem to be a way to get the value back into the multiselect.

[2020-03-19 22:08] lukaspili commented on #100
It seems #117 was not merged. So it's still not possible to wrap the default components into a sortable HOC, right?

[2020-03-20 00:30] mattcorner commented on #164
Same issue here. Also solved by controlling the selectedItems and items through useState in the parent component, but as culllarson says, seems to be a case of object comparison rather than id comparison causing this issue.

[2020-03-20 12:45] liorheber commented on #100
Sorry @lukaspili I think he never got to finishing his PR.
I'd be happy to push a change if you'd like to write it.

[2020-03-23 16:23] lukaspili commented on #100
Thanks for the quick response. At this point I'm just evaluating several options - including multi-select.

[2020-04-27 16:42] mvanmaele commented on #164
This solution worked for me as well using state hooks. Thanks @cullylarson!

[2020-07-01 20:34] GabrielGomesBarbosa opened #182 "Integrate with react-hook-form"
Hi folks,

How can i use this library with `react-hook-form` correctly? can anyone post some examples?

[2020-09-29 18:25] brunoqs opened #187 "How to control clicks to delete under destination and source list"
Its possible to select and unselect items from source list, there is a way to control this onClicks events?
Example: I want to disable the unselect click under destination list, only source list controls whats selected or not

[2020-10-20 22:41] ekinertac commented on #109
problem still exists

    "@kenshooui/react-multi-select": "^1.1.6",
    "@material-ui/core": "^4.11.0",

[2020-11-04 09:40] Yuri6037 opened #189 "Types"
There are no type definitions for this component. Could you provide TypeScript type definitions for the component?

Currently the only is to force //@ts-ignore...

[2020-11-04 10:29] Yuri6037 opened #190 "Warning: React.createFactory()"
Using the latest NPM version of this package, we have:

[code]

React is v16.13.1

[2020-11-25 09:51] RaedMou opened #192 "Select all Group , not one by one"
Hi,

With the option "withGrouping" Is there a way to select  all Group 1 items for example ?Not selecting items one by one in the group.

Many thanks

[2021-02-05 14:58] rickyalmeidadev commented on #182
Yes, you must use `Controller` component with its `render` prop. I made a very simple example [here](https://codesandbox.io/s/react-multi-select-integration-with-react-hook-form-wuvon?file=/src/App.js).

[2021-02-26 08:04] TommySoftway opened #194 "make a group collapsible"
There's any way to make a class collapse like bootstrap, when I click group label, at the moment it's disabled by default, all children of this group will be visibile.

So before clicked the label all children are hide. Only visibile will are groups

[2021-03-01 08:57] TommySoftway commented on #192
I'm interested too. There's any way to do that? Anyone have already done?

[2021-03-01 13:38] rickyalmeidadev commented on #109
@ekinertac I am facing the same problem on the same versions. Did you find any solution?

[2021-03-10 12:27] olgabrushuk commented on #190
Experiencing the same issue. If there is a plan to fix this soon?

[2021-03-31 17:37] muserref-sefer commented on #187
@brunoqs Did you find a solution?

[2021-03-31 18:43] muserref-sefer opened #195 "selectedItemRenderer method does not include onClick method"
[code]

[2021-06-10 11:28] tomeczekstecc opened #196 "Ho do I use "renderers"?"
Hi. This lib looks awesome.

I'm having problem with renderers - how to use it, e.g. selectAllRenderer. Docs say it's a Component. How do I Implement this?

Thanks!!

[2021-06-10 12:01] TommySoftway commented on #196
Hello tomeczekstecc,
About library.. yes it's good. Bt my experience about some years I'd advice you to create new one. Because I've got a lot problems using this.

Tommy

[2021-11-10 06:55] BaharYilmaz opened #197 "@kenshooui/react-multi-select@1.1.6 incompatible with react 17.0.2"
## Expected Behavior
 I deleted node_modules and package-lock.json then run npm install. I am waiting that successfully install packages.

## Actual Behavior
 But a dependency error occurred while installing packages.

`peer react@"^15.0.0-0 || ^16.0.0" from @kenshooui/react-multi-select@1.1.6
node_modules/@kenshooui/react-multi-select
@kenshooui/react-multi-select@"1.1.6" from the root project`

[2022-01-02 00:10] jake-miles opened #200 "Items do not render in tests (using jest and testing-library/react)"
## Expected Behavior

When a test written with jest and testing-library/react renders a MultiSelect component with a non-empty list of items, the items are rendered in the MultiSelect component, i.e. appear in the result of testing-library's `screen.debug` and are queryable using testing-library dom element queries.

## Actual Behavior

The rendered component does not include the items in the rend

[2022-05-23 01:16] schmite commented on #197
Same dependency error here:

[code]

[2022-09-06 22:17] bigBxr opened #202 "Clicking a switch button in a selected item removes it"
## Expected Behavior
I added a Switch button to each selected item so I can flag certain selected items. Clicking the switch onChange() should simply flip the switch and run my JS code.

## Actual Behavior
Clicking the switch immediately removes the item from the selected items list.

## Steps to Reproduce the Problem

  1. Add a switch in the selectedItemRenderer={(props)=>{ return( <div>... <Swi

[2022-10-11 20:12] ttlekich commented on #200
Spent some time on this thinking it was only react-virtualized's 'AutoSizer' that was causing issues. However, it seems like the auto height higher order component throws in some issues too. Using these spies, I was able to render items in the dropdown:

[code]

For reference,

https://github.com/kenshoo/react-multi-select/blob/master/src/components/with_responsive_height.js#L52
and (AutoSizer) ht

[2022-11-08 09:21] isaac-wahba opened #203 "Unable to install the package"
## Expected Behavior
To be able to install the package on a React.js 17 project and start working with it.

## Actual Behavior

Can not find it

## Steps to Reproduce the Problem

  -  `npm i -g  --save  @kenshooui/react-multi-select `

 ## Result
<img width="612" alt="result" src="https://user-images.githubusercontent.com/58470366/200525786-3510304f-9071-4682-871c-7f9a60b592e1.PNG">

[2022-11-08 09:23] isaac-wahba commented on #197
I have a similar issue. Did you find a solution for it?